.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }  
  .box {
    width: 20px;
    height: 60px;
    background-color: #383636;
    border-radius: 50px;
    animation: loader 1s linear infinite;
  }
  
  .loader1 {
    animation-delay: 0.1s;
  }
  .loader2 {
    animation-delay: 0.2s;
  }
  .loader3 {
    animation-delay: 0.3s;
  }
  .loader4 {
    animation-delay: 0.4s;
  }
  .loader5 {
    animation-delay: 0.5s;
  }
  
  @keyframes loader {
    0%, 100% {
      height: 90px;
    }
    50% {
      height: 20px;
    }
  }
  